/* Basic Style */
.body-container {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
@media (max-width:768px) {
  .header {
    text-align: center;
  }
}
.header__demo-image {
  width: 100%;
}
.header__info-link {
  font-family: fantasy, cursive;
}
.main-container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.item-list {
  margin:0;
  padding: 0px;
  list-style-type: none;
}
.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;

  outline:none;
}
.btn:hover {
  color: #3a3A3a;
}

.btn--edit::before {
  content: "Edit";
}

/* Heading */
.base-layout__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.item-layout__edit-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  
  width: 100%;
  display: none;
  flex-grow: 1;

  outline: none;
}
.item-layout__edit-input:focus {
  color: #333;
}

/* New Task */

/* Task list */
.item-list--no-border .item-list__item {
  border-color: transparent;
}
.item-list__item {
  border-bottom: 1px solid #eee;
}
.item-layout {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.item-layout__checkbox {
  margin: 0 10px;
}
.item-layout__title {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 100%;
  flex-grow: 1;
}
.btn--remove {
  width: 32px;
  height: 32px;
  background-image: url(./remove.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
  flex-shrink: 0;
}
.btn--remove:hover {
  transform: rotateZ(0);
}

/* Completed */
.item-list--linethrough .item-layout__title {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.item-layout--edit .item-layout__edit-input {
  display:block;
}
.item-layout--edit .item-layout__title {
  display:none;
}
.item-layout--edit .btn--edit::before {
  content: 'Save';
}